<header fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start end" fxLayoutGap="15">
    <mat-icon class="logoIcon">store</mat-icon>
    <span class="logo">{{title}}</span>
  </div>
  <div fxLayoutGap = "15"  fxLayoutAlign="center">
    <button mat-flat-button color="primary" routerLink="">Strona główna</button>
    <button mat-flat-button color="accent" routerLink="/products">Produkty</button>
    <button mat-flat-button color="warn" routerLink="/login">Zaloguj</button>
    <mat-icon class="shoppingBasket">shopping_basket</mat-icon>
  </div>

</header>
