:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.nameInput {
  width: 100vw;
}

.content {
  padding: 20px;
  background: #f9f9f9;

}


header {
  background: #292b31;
  padding: 20px;
}

.sidebar {
  background: #292b31;
  padding: 20px;


}
a {
  color: #fff;
}
