<header fxLayoutAlign="start center">
  <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
    <mat-icon color="accent" class="logoicon">store</mat-icon>
    <span class="logo">Admin panel</span>
  </div>
</header>
<div fxLayout="row" fxFlex>
  <div>
    <div fxFlex class="sidebar">
      <mat-list>
        <mat-list-item><a routerLink="/admin">Dashboard</a></mat-list-item>
        <mat-list-item><a routerLink="/admin/products">Produkty</a></mat-list-item>
        <mat-list-item><a routerLink="/admin">Link</a></mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex class="content">
    <app-admin-message></app-admin-message>
    <router-outlet></router-outlet>
  </div>
</div>
